<div class="input__container input__container--firstname">
  <label for="firstname">Nombre</label>
  <input
    type="text"
    name="firstname"
    id="firstname"
    placeholder="Nombre(s)"
    required
    <% if(athlete.firstname != undefined) { %> 
      value="<%= athlete.firstname %> "
    <% } else { %> 
      value=""
    <% } %>   
  />
</div>
<div class="input__container input__container--lastname">
  <label for="lastname">Apellidos</label>
  <input
    type="text"
    name="lastname"
    id="lastname"
    placeholder="Apellidos"
    required
    value="<%= athlete.lastname %>"
  />
</div>
<div class="input__container input__container--email">
  <label for="email">Correo electrónico</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="usuario@correo.com"
    required
    value="<%= athlete.email %>"
  />
</div>
<div class="input__container input__container--phonenumber">
  <label for="phonenumber">Número de teléfono</label>
  <input
    type="number"
    name="phonenumber"
    id="phonenumber"
    placeholder="Número de teléfono"
    required
    value="<%= athlete.phonenumber %>"
  />
</div>
<div class="input__container input__container--plan">
  <label for="plan">Plan</label>
  <select name="plan" id="plan" required data-doc="<%= athlete.plan %>">
    <option value="">Selecciona un plan</option>
    <option value="5D">5D</option>
    <option value="3D">3D</option>
    <option value="Kids">Kids</option>
    <option value="Pareja">Pareja</option>
    <option value="Familiar">Familiar</option>
  </select>
</div>
<div class="input__container input__container--group">
  <label for="group">Clase</label>
  <select name="group" id="group" required data-doc="<%= athlete.group %>">
    <option value="">Selecciona una clase</option>
    <option value="6:00am">6:00am</option>
    <option value="7:30am">7:30am</option>
    <option value="8:30am">8:30am</option>
    <option value="9:30am">9:30am</option>
    <option value="6:00pm">6:00pm</option>
    <option value="7:00pm">7:00pm</option>
    <option value="8:00pm">8:00pm</option>
    <option value="9:00pm">9:00pm</option>
  </select>
</div>
<p class="form__error">Por favor llena todos los campos correctamente</p>
<button type="submit" id="create-athlete">Guardar</button>
